﻿@model EmployeeForHTC.Models.Employee

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
    <head>
    </head>
    <body>
        <h2>Список сотрудников</h2>
        <table>
            <tr>
                <td>Имя</td>
                <td>Фамилия</td>
                <td>Отчество</td>
                <td>Должность</td>
                <td>Email</td>
                <td>Номер телефона</td>
                <td>Дата рождения</td>
                <td>Организация</td>
                <td>Контактная информация</td>
                <td>SKype</td>
                <td>Другое</td>
            </tr>

            @foreach (var empl in ViewBag.Empl_s)
            {
                <tr>
                    <td>@empl.Name</td>
                    <td>@empl.Surname</td>
                    <td>@empl.Patronymic</td>
                    <td>@empl.Position</td>
                    <td>@empl.Email</td>
                    <td>@empl.PhoneNumber</td>
                    <td>@empl.DateOfBirth</td>
                    <td>@empl.Organization</td>
                    <td>@empl.ContectInformation</td>
                    <td>@empl.Skype</td>
                    <td>@empl.Other</td>
                </tr>
            }
        </table>
        @Html.ActionLink("Добавить", "Create")
        @Html.ActionLink("Удалить", "Delete")

        @using (Html.BeginForm("Search", "Home", FormMethod.Post))
        {
            <table></table>
        }
    </body>
</html>
